<%= simple_form_for apply, html: {class: 'form form-horizontal form-apply'},
  wrapper: :horizontal_form do |f| %>
  <%# f.input :archive_number %>
  <%= field_set_tag t('.fieldset.patient') do %>
    <%= f.simple_fields_for :patient do |ff| %>
      <%= ff.input :name %>
      <%= ff.input :gender, as: :radio_buttons, wrapper: :horizontal_radio_and_checkboxes, collection: enum_options_for_select(Patient, :gender) %>
      <%= ff.input :birth_certificated, wrapper: :horizontal_boolean %>
      <%= ff.input :id_type, as: :radio_buttons, wrapper: :horizontal_radio_and_checkboxes, collection: enum_options_for_select(Patient, :id_type) %>
      <%= ff.input :id_number %>
      <%= ff.input :birthday, start_year: Patient::BIRTHDAY_START_YEAR, end_year: Patient::BIRTHDAY_END_YEAR %>
      <%= ff.input :remark %>

      <%= ff.input :social_relations do %>
        <%= ff.simple_fields_for :social_relations do |fff| %>
          <%= render 'social_relation_fields', f: fff %>
        <% end %>
        <div class="add-social-relation-wrapper">
          <%= link_to_add_association t('.add_social_relation'), ff, :social_relations, class: 'btn btn-primary btn-sm' %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <%= field_set_tag t('.fieldset.apply') do %>
    <%= f.association :disease, include_blank: true, prompt: Disease.model_name.human %>
    <%= f.input :once_applied, wrapper: :horizontal_input_group do %>
      <div class="input-group-addon">
        <%= f.input_field :once_applied, label: false, boolean_style: :inline %>
      </div>
      <%= f.input_field :once_applied_remark, class: 'form-control', placeholder: f.object.class.human_attribute_name(:once_applied_remark) %>
    <% end %>
    <%= f.input :insurance do %>
      <div class="checkbox">
        <%= f.input_field :insured, inline_label: f.object.class.human_attribute_name(:insured) %>
      </div>
      <div class="checkbox">
        <%= f.input_field :commercial_insured, inline_label: f.object.class.human_attribute_name(:commercial_insured) %>
      </div>
    <% end %>
    <%= f.association :hospital, include_blank: false, selected: current_user.organization %>
    <%= f.input :expense_amount, wrapper: :horizontal_input_group do %>
      <span class="input-group-addon">&yen;</span>
      <%= f.input_field :expense_amount, class: 'form-control' %>
    <% end %>
    <%= f.input :affordable_amount, wrapper: :horizontal_input_group do %>
      <span class="input-group-addon">&yen;</span>
      <%= f.input_field :affordable_amount, class: 'form-control' %>
    <% end %>
    <%= f.input :hospital_advice_amount, wrapper: :horizontal_input_group do %>
      <span class="input-group-addon">&yen;</span>
      <%= f.input_field :hospital_advice_amount, class: 'form-control' %>
    <% end %>
    <%= f.input :estimate_discharge_at, start_year: Apply::ESTIMATE_DISCHARGE_START_YEAR, end_year: Apply::ESTIMATE_DISCHARGE_END_YEAR %>
    <%= f.input :reason %>
    <%= f.input :status, as: :hidden %>
  <% end %>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9 col-md-10 col-md-offset-2">
      <button type="button" class="btn btn-primary btn-submit" data-status="submitted"><%= t :submit %></button>
      <button type="button" class="btn btn-default btn-draft" data-status="draft"><%= t :save_as_draft %></button>
      <%= link_to t(:cancel), 'javascript:history.back();', class: 'btn btn-link' %>
    </div>
  </div>
<% end %>
